@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050404;
  --foreground: #EAEAEA
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}



